@charset "UTF-8";

/*전체 레이아웃*/
section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*카드*/
article {
	width: 300px;	/* 카드 너비 */
	border: 1px solid #d9d9d9;
	margin-left: 5px;
	padding: 20px;
}

/*이미지 사이즈*/
article img {
	width: 300px;
	height: 300px;
}

/*설명*/
p {
	
	font-size: 20px;
}

audio{
	margin-bottom: 20px;
}