
html, body{
  height: 100%;
  margin: 0;
}

body *{
	box-sizing: border-box;
	margin: 3px;
}

#container{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#content{
	display: flex;
	flex-direction: row;
	flex: 1;
}

header{
	height: 15%;
	background-color: #F5F5F5;
	display: flex;
	align-items: center;
	
}

footer{
	height: 8vh;
	background-color: #1A1A1A;
	color: white;
	text-align: center;
	margin-top: 20px;
}

header img {
	width: 100px;
}

nav ul{
	text-align: center;
	padding: 20px;
	border-top: 4px dotted #A8A850;
	border-bottom: 2px solid #A8A850;
	
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}
	
a:hover, a:active {
	color: blue;
	text-decoration: none;
}

nav ul li {
	display: inline;
	text-align: center;
	
}
nav ul li a{
	padding: 8px 45px;
}

nav ul li a:link, nav ul li a:visited{
	color: blue;
	font-family: sans-serif;
}

#right div a{
	color: blue;
	text-decoration: underline;
}

#right div h2, #right div p{
	display: inline-block;
	padding-bottom: 20px;
}

#main{
	flex: 1;
}

#main iframe{
	width: 100%;
	height: 100%;
	border: none;
}

#article1 {
	width: 100%;
	height: 100%;
}

#left{
	flex-basis: 15%;
	background-color: #6D7996;
}

#left ul{
	list-style: none;
	padding-left: 0px;
	padding-top: 20%;
	padding-bottom: 90%;
	margin: 0px;
}

#left ul li{
	margin: 0px;
	padding: 5px 10px;
	border-bottom: 1px solid black;
	background-color: #525D76;
}

#left ul li a{
	color: white;
}

#right{
	flex-basis: 15%;
	background-color: #E2E0D7;
}


.footp{
	margin-top: 25px;
}